html, body{
  margin: 0;
  padding: 0;
  min-width: 350px;
  font-family: Arial, sans-serif;
  background: #fff2e6;
}

/* Header */

#header {
  background-color: #252525;
  overflow: hidden;
  }

.header-container{
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
  font-weight: bold;
}

.header-left{
  width: 110px;
  float: left;
}

.logo img{
  width: 100px;
}

.header-right{
  width: auto;
  float: right;
}

.header-right nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  flex-wrap: wrap;
}

.header-right nav ul li{
  list-style: none;
}

.header-right nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 32px;
  /* text-decoration: none; */
  color: #ddd;
}

.header-right nav ul li a.active,
.header-right nav ul li a:hover{
  background: #bf1a04;
  color: #ddd;
  transition: 0.5s;
  /* text-decoration: none; */
  border-radius: 5px;
}

.clearfix{
  clear: both;
}

@media only screen and (max-width: 720px) {
  .logo img{
    width: 80px;
  }

  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #252525;
  }

  .menu-toggle:before{
    content: '\f0c9';
    color: #ddd;
    font-family: fontAwesome;
    line-height: 50px;
  }

  .menu-toggle.active:before{
    content: '\f00d';
  }

  .header-right{
    width: auto;
    float: left;
    top: 75px;
    left: 0px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #252525;
    position: fixed;
    transition: .5s;
  }

  .header-right.slide-down{
    animation-name: open;
    height: 70px;
    transition: 0.5s;
  }

  .main-nav{
    display: block;
    transform: translateY(-70px);
    width: 100%;
    background-color: #252525;
    transition: 0.5s;
  }

  .main-nav.slide-down{
    transform: translateY(0px);
    transition: 0.5s;
  }

  .header-right nav ul li a{
    font-size: 25px;
  }

  .middle-container {
    padding-top: 50px;
    margin: auto;
    width: 500px;
  }

}

.responsive{
  width: 100%;
  height: auto;
}

#page-title {
  text-align: center;
  font-size: 50px;
  margin: 30px 0;
}

/* Slider */

.slideshow{
  width: 100%;
  height: auto;
  overflow: hidden;
}

#slider-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #252525;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.circle:hover {
  background: #252525;
}

.circle.checked {
  background-color: #252525;
}

.slides {
  width: 200%;
  height: 100%;
  display: flex;
  transition: 0.5s;
  cursor: pointer;
}

.slide {
  width: 50%;
  transition: 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -50%;
}

#middle-container {
  max-width: 1700px;
  background-color: #F7E0C4;
  margin: 30px auto;
  padding: 30px;
  padding: 30px;
  border-radius: 5px;
}

/* Locations */

.location {
  font-size: 30px;
  overflow: hidden;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.text-box{
  margin: 30px 0 0 30px;
}

.text-box a{
  text-decoration: none;
  color: black;
}

.location img {
  float: left;
  width: 250px;
  height: auto;
}

.button-box {
  margin: 50px 0 0 30px;
}

.button-box button {
  background-color: #8b8b8b;
  color: #eee;
  width: 250px;
  transition: 0.4s;
  font-size: 25px;
  padding: 0 20px;
  border-radius: 5px;
}

.button-box button:hover{
  background-color:  #252525;
}

/* Menu */

.location-selector{
  display: flex;
  max-width: 1000px;
  height: 1000px;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.location-selector a {
  flex-grow: 1;
  min-width: 50%;
  background-color: #252525;
  margin: 10px;
  text-align: center;
}

.location-box{
  color: #ddd;
  padding-top: 200px;
  margin: 10px 10px;
}

/* Menu Category Selector */

.menu-container {
  background-color: #ddd;
  padding: 10px;
  max-width: 1700px;
  margin: 20px auto;
  font-size: 25px;
}

.menu-category {
  font-size: 30px;
  color: #252525;
  background-color: #bfbfbf;
  border: none;
  width: 100%;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.menu-category:focus{
  border: none;
  outline: none;
}

.menu-category.active,
.menu-category:hover{
  background-color: #252525;
  color: #ddd;
  border: none;
}

.menu-content {
  max-height: 0;
  text-align: center;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* background-color: #F7E0C4; */
}

.item-title {
  min-width: 300px;
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0 0 0;
}

.items {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-bottom: 2px dashed #bf1a04;
  margin: 30px 0 0 0;
}

.bento-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: 1px solid #252525;
}

.bento-items .item {
  margin: 5px 0;
}

.item {
  margin: 5px 10px;
  flex: 1 1 400px;
}

.item h4 {
  margin: 0;
  font-weight: bold;
}

.item p {
  font-size: 20px;
}

#nigiri-content .item {
  flex: 1 1 200px;
}

.discount{
  margin-top: 20px;
  font-size: 50px;
}

#roll-extra {
  margin-top: 50px;
  padding: 0 50px 30px 50px;
}

.extras {
  border: 1px solid #252525;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.extra {
  margin: 5px 20px;
  font-size: 20px;
}

.img-fluid {
  width: 300px;
  float: right;
}

#footer {
  background-color: #252525;
  min-width: 350px;
}

.footer-container {
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

#footer-nav {
  margin-top: 20px;

}

#footer-nav ul{
  display: flex;
  justify-content: center;
  padding: 0;

}

#footer-nav ul.sub-menu{
  display:block;
  padding-left: 0px;
  font-weight: 500;
}

#footer-nav ul.sub-menu li{
  font-size: 15px;
  font-weight: normal;
}

#footer-nav ul li {
  list-style: none;
  color: #ddd;
  margin: 15px 0px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

#footer-nav ul li a {
  color: #ddd;
}

#footer-nav ul li a.active,
#footer-nav ul li a:hover {
  color: #ddd;
  text-decoration: none;
}


/* red = #bf1a04 */
